<footer class="bg-gray-800 text-white text-xs p-4">
  <p class="my-1">联系我们：建筑委</p>
  <p class="my-1">电话：xxxxxxxxxx 邮箱：xxx@thape.com.cn</p>
  <p class="mb-1 mt-4">©2021 TIANHUA | 由 天华集团流程与信息化部 提供技术服务</p>
  <p class="my-1">友情链接：<span class="mx-1">建筑委</span><span class="mx-1">材料在线</span><span class="mx-1">阿奇找找</span></p>
</footer>
