<footer class="bg-black py-6">
  <nav class="flex items-center justify-center py-2 px-4 sm:px-6 lg:px-8">
    <div class="w-0 flex-1 text-white">
      <p>联系我们：建筑委</p>
      <p>电话：xxxxxxxxxx 邮箱：xxx@thape.com.cn</p>
    </div>
    <div>
      <a href="#" class="font-medium text-white text-xl">©2021 TIANHUA | 由 天华集团流程与信息化部 提供技术服务</a>
    </div>
    <div class="w-0 flex-1 text-white flex justify-end">
      <p>友情链接：<span class="mx-4">建筑委</span><span class="mx-4">材料在线</span><span class="mx-4">阿奇找找</span></p>
    </div>
  </nav>
</footer>
