<header class="sticky bg-white border-b-2 border-gray-100 border-solid top-0" style="z-index: 1000">
  <nav class="flex items-center justify-center px-4 sm:px-6 lg:px-8 h-16" aria-label="Global">
    <div class="w-0 flex-1 flex justify-begin">
      <%= link_to root_path, class: 'inline' do %>
        <span class="sr-only">天华</span>
        <%= render partial: 'shared/logo', locals: { className: 'mt-1' } -%>
      <% end %>
      <svg data-action="click->slideover#toggle click->sidebar-nav#show" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline ml-4 mt-px cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
      </svg>
    </div>
    <div>
      <a href="/" class="font-medium text-black-6c" style="font-size: 26px;">天华建造研究中心 THTRI</a>
    </div>
    <%= render partial: 'shared/header_right' %>
  </nav>
</header>
