<header class="sticky top-0 bg-white z-10 border-b-2 border-gray-100 border-solid" style="z-index: 1000">
  <nav class="flex items-center justify-center p-4 sm:px-6 lg:px-8" aria-label="Global">
    <div class="w-0 flex-1 flex justify-begin">
      <%= link_to root_path, class: 'inline' do %>
        <span class="sr-only">天华</span>
        <%= render partial: 'shared/logo', locals: { className: 'mt-1' } -%>
      <% end %>
      <svg data-action="click->slideover#toggle click->sidebar-nav#show" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline ml-4 mt-px cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
      </svg>
    </div>
    <div>
      <a href="/" class="font-medium text-black-6c" style="font-size: 26px;">天华建造研究中心 THTRI</a>
    </div>
    <div class="w-0 flex-1 text-black-6c flex justify-end">
      <%= link_to search_path, class: 'mr-4' do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      <% end %>
      <svg xmlns="http://www.w3.org/2000/svg" class="inline h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
  </nav>
</header>
