<%= link_to 'https://teamshare.thape.com.cn/', class: 'flex items-center', target: '_blank', rel: 'noreferrer', title: '前往小天书' do %>
    <img src="<%= image_pack_path('static/images/logo-xts.png') %>" class="w-10 h-10">
    <span class="ml-2 text-2xl" style="color: currentColor;">小天书</span>
<% end %>
