<div class="flex flex-col text-white">
  <header class="flex-auto mx-2 mb-3">
    <div class="relative">
      <img class="w-full h-80" src="<%= image_pack_path('home-background.jpg') -%>" alt="">

      <div class="absolute top-1 left-1 mt-20 px-4 text-white">
        <h2 class="text-2xl">Welcome!</h2>
        <h1 class="mt-3 text-4xl font-bold">天华线上材料库</h1>
        <p class="mt-4 text-lg">TIANHUA Online Material Library</p>
      </div>
    </div>
  </header>

  <div class="flex-auto mx-2 mb-3">
    <div class="relative">
      <img class="w-full" src="<%= image_pack_path('material_background.jpg') -%>" alt="">
      <div class="absolute top-4 left-8 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl mr-2">材料</span><span class="text-xl">Materials</span>
      </div>
      <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
        <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
          收录有 <span class="text-4xl 2xl:text-5xl">100</span> 多种材料
        </p>
      </div>
    </div>
  </div>
  <div class="flex-auto mx-2 mb-3">
    <div class="relative">
      <img class="w-full" src="<%= image_pack_path('project_background.jpg') -%>" alt="">
      <div class="absolute top-4 left-8 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl mr-2">案例</span><span class="text-xl">Projects</span>
      </div>
      <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
        <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
          收录有 <span class="text-4xl 2xl:text-5xl">500</span> 多个案例
        </p>
      </div>
    </div>
  </div>
  <div class="flex-auto mx-2">
    <div class="relative">
      <img class="w-full" src="<%= image_pack_path('manufacturer_background.jpg') -%>" alt="">
      <div class="absolute top-4 left-8 border-b-2 border-gray-100 border-solid">
        <span class="text-2xl mr-2">供应商</span><span class="text-xl">Manufacturer</span>
      </div>
      <div class="absolute top-1/2 left-1/2" style="transform: translate(-50%, -50%);">
        <p class="text-xl 2xl:text-2xl font-medium whitespace-nowrap">
          收录有 <span class="text-4xl 2xl:text-5xl">50</span> 多个材料供应商
        </p>
      </div>
    </div>
  </div>
</div>
