<div
  data-controller="modal"
  data-modal-allow-background-close="false"
  data-modal-disable-backdrop="true"
  data-personal-center-feedback-target="detailModal"
>
  <div
    data-modal-target="container"
    data-action="click->modal#closeBackground keyup@window->modal#closeWithKeyboard"
    class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
    style="z-index: 9999; background-color: rgba(0, 0, 0, 0.5);"
  >
      <div class="relative bg-white rounded-lg overflow-hidden" style="width: 1080px;">
        <button class="absolute top-2.5 right-2.5 z-50" data-action="click->modal#close">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"></path>
            <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"></path>
          </svg>
        </button>
        <div class="bg-black h-10 text-white text-lg flex justify-center items-center px-3">
          我的反馈详情
        </div>
        <div class="px-10 my-6 overflow-auto" style="height: 557px;" data-personal-center-feedback-target="detailModalBody"></div>
        <div class="text-sm flex justify-center py-6">
          <button class="w-20 h-10 cancel-button transition-all duration-300" type="button" data-action="click->modal#close">关闭</button>
        </div>
      </div>
  </div>
</div>