<div>
  <div>
    <label class="px-2 py-0.5 text-xs bg-black text-white rounded-lg">内部</label>
  </div>
  <div class="flex flex-row mt-1">
    <div class="flex-none flex flex-col gap-5" style="width: 228px;">
      <div>
        <label>项目编号:</label>
        <%= render 'suppliers_modal_text_div', calss_name: 'mt-1' do %>
          TH16008701
        <% end %>
      </div>
      <div>
        <label>PM项目名称:</label>
        <%= render 'suppliers_modal_text_div', calss_name: 'mt-1' do %>
          朗成地产临海大洋街道地块前端
        <% end %>
      </div>
      <div>
        <label>项目名称:</label>
        <%= render 'suppliers_modal_text_div', calss_name: 'mt-1' do %>
          朗成地产临海大洋街道
        <% end %>
      </div>
    </div>
    <div class="flex-1" style="margin-left: 30px;">
      <label>实景照:</label>
      <div class="mt-1 grid grid-cols-3 gap-3">
        <div style="height: 180px;">
          <img class="w-full h-full object-cover bg-gray-200" src="" alt="">
        </div>
        <div style="height: 180px;">
          <img class="w-full h-full object-cover bg-gray-200" src="" alt="">
        </div>
        <div style="height: 180px;">
          <img class="w-full h-full object-cover bg-gray-200" src="" alt="">
        </div>
        <div style="height: 180px;">
          <img class="w-full h-full object-cover bg-gray-200" src="" alt="">
        </div>
        <div style="height: 180px;">
          <img class="w-full h-full object-cover bg-gray-200" src="" alt="">
        </div>
        <div style="height: 180px;">
          <img class="w-full h-full object-cover bg-gray-200" src="" alt="">
        </div>
      </div>
    </div>
  </div>
</div>