@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shadow-tw-light {
  box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.3);
}

.shadow-tw-dark {
  box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.3);
}

.text-black-6c {
  color: rgba(16, 24, 32);
}

.active-search {
  @apply border-b-2 border-gray-100 border-solid pb-1;
}

.more-btn {
  @apply float-right py-1 px-2.5 border border-black font-medium text-sm rounded-full text-black bg-gray-50 shadow-sm active:bg-gray-800 hover:bg-black focus:text-black hover:text-white focus:text-white transition duration-150 ease-in-out leading-snug;
}
