@import "viewerjs/dist/viewer.css";
@import "sidebar.css";
@import "material_nav.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.shadow-tw-light {
  box-shadow: 0px 0px 20px 0px rgba(204, 204, 204, 0.3);
}

.shadow-tw-dark {
  box-shadow: 0px 0px 10px 0px rgba(158, 158, 158, 0.3);
}

.active-search {
  @apply border-b-2 border-gray-100 border-solid pb-1;
}

.active-pill {
  @apply rounded-full font-medium bg-gray-100 text-black-6c;
}

.more-btn {
  @apply float-right py-1 px-2.5 border border-black font-medium text-sm rounded-full text-black bg-gray-50 shadow-sm active:bg-gray-800 hover:bg-black focus:text-black hover:text-white focus:text-white transition duration-150 ease-in-out leading-snug;
}

.more-btn-sm {
  @apply float-right py-0.5 px-2 border border-black font-medium text-xs rounded-full text-black bg-gray-50 shadow-sm active:bg-gray-800 hover:bg-black focus:text-black hover:text-white focus:text-white transition duration-150 ease-in-out leading-snug;
}

.black-mask {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #B2B2B2;
  border-radius: 4px;
}

.scrollbar-none::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

@keyframes translate-x-full {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes -translate-x-full {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animation-transition-x-full {
  animation: translate-x-full .5s ease-in-out;
}

.animation-transition-x-full-reverse {
  animation: translate-x-full .5s ease-in-out reverse;
}

.-animation-transition-x-full {
  animation: -translate-x-full .5s ease-in-out;
}

.-animation-transition-x-full-reverse {
  animation: -translate-x-full .5s ease-in-out reverse;
}


.circle-arrow {
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.7);
  transition: all .15s ease-in-out;
  color: #999;
}

.circle-arrow:hover {
  background: rgba(255, 255, 255, 0.85);
  color: #666;
}