<div class="my-2.5 flex items-start">
  <input id="m1" name="comments" type="checkbox" <%= checked ? 'checked="checked"' : '' -%>" class="mt-1 focus:ring-gray-50 text-gray-600 border-gray-300">
  <label for="m1" class="text-gray-700 ml-2 mt-px"><%= name -%></label>
</div>
