<p class="border border-gray-200 bg-gray-50 py-1 pl-2 pr-1 text-sm flex items-center my-1 mr-3">
  <%= name %>
  <button class="ml-3 focus:outline-none focus:bg-gray-600" aria-label="Close sidebar" data-action="click->project-filter#remove:once" data-check-id="<%= check_id -%>">
    <svg class="h-5 w-5 text-black pointer-events-none" stroke="currentColor" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
</p>
