---
secret_key_base: test_key
honeybadger_api_key: test_key
wechat_corpid: test_key
wechat_corp_secret: "test_key"
wechat_corp_agentid: 1
wechat_corp_token: test_key
wechat_corp_encoding_aes_key: test_key
openid_connect_identifier: test_key
openid_connect_secret: test_key
thtri_api_prefix: test_key
