<div class="max-w-4xl mx-auto px-4 mt-10">
  <div class="pl-52 py-9 text-sm text-neutral-140 leading-6 bg-neutral-100 border border-neutral-235 rounded-2.5">
    <div>您可以尝试：</div>
    <div>1、搜索更短、更简单的条目。</div>
    <div>2、扩大搜索范围，选择更笼统的关键词。</div>
    <div>3、搜索材料的其他名称。</div>
    <div>
      <span>如果您的需求依然无法被满足，请在</span>
      <button class="text-black underline" data-action="click->app#openNeedRegisterModal">此处</button>
      <span>反馈给我们，我们将尽力解决。</span>
    </div>
  </div>
</div>