<%# 构造做法 %>
<% if material.construction.present? %>
  <div class="mt-20">
    <div class="border-b-2 border-gray-100 border-solid pb-3">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid" style="padding-bottom: 0.9rem">构造做法</span>
      <span class="text-xl font-light">Construction</span>
    </div>

    <div class="grid grid-cols-3 gap-1.5 grid-rows-3 mt-4" style="height: 600px;" data-controller="picture-viewer">
      <% material.construction.slice(0, 4).each_with_index do |practice_detail, i| %>
        <div class="<%= i == 0 ? 'col-span-2 row-span-3' : ''  %>">
          <img class="w-full h-full object-cover" src="<%= mat_img_url(practice_detail["url"], "") %>" alt="" data-picture-viewer-target="image">
        </div>
      <% end %>
      <% if material.construction.length < 4 %>
        <% Array.new(4 - material.construction.length).each do %>
          <div class="flex items-center justify-center" style="background: #f2f2f2;">
            <span>暂无相关图片</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
