<%# 材料产品详情 %>
<div class="bg-white text-black-6c text-xs m-1 px-1.5 py-2.5">
  <turbo-frame id="color_system_list">
    <%= render partial: 'color_system_list_phone', locals: { projects: @projects, material: @material, color_id: @color_id } %>
  </turbo-frame>
</div>
<% if @material.level == 3 %>
  <%= render partial: 'detail_phone', locals: { material: @material, samples: @samples, cases: @cases } %>
<% end %>