<%= render partial: 'shared/header', locals: { } -%>

<p class="mx-4 px-40 pt-8">首页 > 石材 > 花岗岩 > 黄金麻</p>

<main class="flex flex-row px-40">
  <section class="flex-auto">
  </section>

  <%# 材料产品详情 %>
  <section class="w-full ml-12 max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl flex flex-col">
    <div class="mx-4 mt-10">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid pb-3">材料产品详情</span><span class="text-xl font-light">Material Details</span>
    </div>
  </section>
</main>

<%= render partial: 'shared/footer', locals: { } -%>
