<%# 材料产品详情 %>
<div class="bg-white text-black text-xs p-3">
  <span class="px-1 py-3 font-medium">色系</span>
  <span class="px-1 py-3">白色系</span>
  <span class="px-1 py-3">灰色系</span>
  <span class="px-1 py-3">黑色系</span>
  <span class="px-1 py-3">
    <span class="px-3 py-1 rounded-full font-medium bg-gray-200 text-black">
      黄色系
    </span>
  </span>
  <span class="px-1 py-3">红色系</span>
  <span class="px-1 py-3">棕色系</span>
</div>
