<%= render partial: 'shared/header', locals: { } -%>

<p class="mx-4 px-40 pt-8">首页 > 石材 > 花岗岩 > 黄金麻</p>

<main class="flex flex-row px-40">
  <section class="flex-auto">
    <h2 class="mx-4 mt-8 border-b-2 border-gray-900 border-solid pb-2">
      <span class="text-xl mr-2">石材</span><span class="text-base font-light">Store</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
    </h2>
    <div class="mx-4">
      <div class="bg-gray-200 py-3 pl-5 text-gray-500 text-lg">
        <h3 class="my-2">
          <span>
            石灰石/青石
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            大理石
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            砂岩
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            洞石 / 石灰华
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            火山岩 / 喷出岩
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2 text-gray-800">
          <span class="border-b border-black border-solid pb-1">
            花岗岩
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
        <h3 class="my-2">
          <span>
            板岩 / 板石
            <svg xmlns="http://www.w3.org/2000/svg" class="-mt-0.5 h-5 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          </span>
        </h3>
      </div>
    </div>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">玻璃</span><span class="text-base font-light">Store</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">金属</span><span class="text-base font-light">Store</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">混凝土/水泥</span><span class="text-base font-light">Concrete/Cement</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
    <h2 class="mx-4 mt-6 border-b-2 border-gray-200 border-solid pb-2">
      <span class="text-xl mr-2">高分子材料</span><span class="text-base font-light">Plastic</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200 float-right" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </h2>
  </section>

  <%# 材料产品详情 %>
  <section class="w-full ml-12 max-w-3xl lg:max-w-4xl xl:max-w-5xl 2xl:max-w-6xl flex flex-col">
    <div class="mx-4 mt-10">
      <span class="text-2xl font-bold ml-px mr-2 border-b-2 border-gray-900 border-solid pb-3">材料产品详情</span><span class="text-xl font-light">Material Details</span>
    </div>
  </section>
</main>

<%= render partial: 'shared/footer', locals: { } -%>
